<%# buat fungsi if untuk mengurangi error jika lebih dari 1 atau ada ubah2 urlnya, lebih besar dari 0 artinya ada data yg dikirim dari sql, yg mana objeknya berjumlah 1, 
jd cth dia datanya 9999, itu tidak ada data 999 di sql, maka datanya 0, maka dia tidak akan terbaca, bukan berati no urut, tp ada tidaka adanya objek data%>
<%if (detail_karyawan.length>0) {%>
    <h1>detail data karyawan</h1>
    <hr><hr>
    <%# let kry=detail_karyawan%>
    <ul>
         <li>nama : <%= detail_karyawan[0].nama %></li>
         <li>alamat : <%= detail_karyawan[0].alamat %></li>
        <li>nomor telepon: <%= detail_karyawan[0].no_telepon %></li>
        <li>golongan darah: <%= detail_karyawan[0].gol_darah %></li>
        <li>jenis kelamin: <%= detail_karyawan[0].jenis_kelamin %></li>
        <li>departemen: <%= detail_karyawan[0].departemen_kode%>(<%= detail_karyawan[0].departemen_nama %>)</li>
        <li>jabatan : <%= detail_karyawan[0].jabatan_nama %></li>
        <li>role : <%= detail_karyawan[0].jabatan_role %></li>
        <li>tugas : <%= detail_karyawan[0].jabatan_deskripsi %></li>
</ul>
<%}else{%>
<h1> tidak ada data karyawan yang diminta</h1>
<%}%>

<%# <pre>%>
    <%#= JSON.stringify(detail_karyawan,null,4) %>%>
<%#/pre>%>